<mat-drawer-container>
<div class="example-container"  [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar  class="example-toolbar">
    <h1 class="example-app-name"> <a routerLink=""><img src="../../assets/logokleiner.png"> </a></h1>
     <button mat-icon-button routerLink="/anmelden"> </button>
    <button routerLink="/shop" mat-mini-fab color="warn">Shop</button>
    <button routerLink="/about-us" mat-mini-fab color="warn">About</button>
    <button routerLink="/impressum" mat-mini-fab color="warn">Imp.</button>
    <button routerLink="/kontakt" mat-mini-fab color="warn">Kont.</button>
    <button routerLink="/lage" mat-mini-fab color="warn">Loca.</button>
    <button class="login" routerLink="/anmelden" > <img src="../../assets/icons8-enter-50.png"></button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

  </mat-sidenav-container>
</div>
</mat-drawer-container>
