
<mat-grid-list cols="12" rowHeight="1:1">
  <h1>Wer sind wir ?</h1>

<div class="inhalt">

    Wir sind ein Unternehmen, welches Landwirte bei der effizenten bestellung ihrer Felder unterstützen wollen. Es gibt immer mehr Menschen und Land zum anbauen wird immer teurer.
    Daher ist eine effektive Landwirtschaft besonders wertvoll und hier kommen wir ins Spiel. Mit FOT können Sie jeden Meter
    ihres Bodens im Auge behalten. Das ist möglich da unsere Sensoren Echtzeitmessung durchführen und Ihnen die Werte sofort mitteilt.
    Egal ob am Desktop-PC oder am Smartphone Sie wissen jederzeit, wo und woran es Ihrem Feld fehlt.

    Als ausgebildete IT-Fachleute aus Schleswig-Holstein, verbinden uns beide Welten. Wir kennen die Probleme der Landwirtschaft
    und haben das Know-How eine technische Lösung umzusetzen. Um die Landwirte unserer Heimt zu unterstützen haben wir eine
    Lösung konzipiert, welche für alle Landwirte auf der Welt eine wahre Bereicherung darstellen wird.

    Wir freuen uns darauf Sie unterstützen zu dürfen!

</div>
</mat-grid-list>

