<div class="all">
<mat-grid-list cols="2" rowHeight="7:6">
  <div class="inhalt">
  <mat-grid-tile>
        <mat-grid-list cols="1">
          <mat-list>
            <mat-list>
              <h3>Address</h3>
            </mat-list>
            <mat-list>
              Vorname:
            </mat-list>
            <mat-list>
              <input type="text"  required>
            </mat-list>

            <mat-list>
              Nachname:
            </mat-list>
              <mat-list>
              <input type="text" >
            </mat-list>

            <mat-list>
              Straße:
            </mat-list>
              <mat-list>
              <input type="text" >
            </mat-list>

            <mat-list>
              Stadt:
            </mat-list>
            <mat-list>
              <input type="text" >
            </mat-list>

            <mat-list>
              Ort:
            </mat-list>
              <mat-list>
              <input type="text" >
            </mat-list>
          </mat-list>
        </mat-grid-list>
      </mat-grid-tile>
  </div>
  <mat-grid-tile class="w">
      <mat-grid-list cols="1">
        <mat-list>
          Ihre Nachricht:
        </mat-list>
        <mat-list>
        <input class="bla" type="text">
        </mat-list>
        <mat-list>
          <button class="mäh" mat-flat-button color="primary">Send</button>
        </mat-list>
      </mat-grid-list>
</mat-grid-tile>
    </mat-grid-list>
</div>
