 <mat-grid-list cols="12" rowHeight="2:1">
    <h1>
      Impressum
    </h1>
   <div class="inhalt">
    <p>

      downtoearth.de ist ein Angebot der DownToEarth GmbH
    </p>

      <ul>
        Straße: Technologiepark 24
      </ul>
      <ul>
        Ort: Trittau

      </ul>
      <ul>
        E-Mail: kontakt@downToEarth.de
      </ul>
      <ul>
        Tel: 04331/563341
      </ul>
      <ul>
        Geschäftsführer: XXX
      </ul>
      <ul>
        Amtsgericht:XXXXXXXX
      </ul>
      <ul>
        USt-ID-Nr: DEXXXXXXX
      </ul>
   </div>
  </mat-grid-list>
