mat-grid-list{
  background-color: #212121;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-left: -1rem;
  margin-right: -0.5rem;
}

.inhalt{
  padding-top: 2rem;
  margin-left: 30%;
  margin-right: 30%;
  color: #cccccc;
}

h1{
  color: #cccccc;
  text-align: center;

  margin-top: 1rem;
}

.bla{
  padding-top: -100%;
  padding-bottom: 7%;
  text-align: center;
  background-color: orangered;
  margin-bottom: 60%;
  margin-right: 10%;
}

iframe{
  margin-bottom: 20rem;
}
