


mat-grid-list{

  margin-left: -1rem;
  margin-right: -0.5rem;
}

mat-list{
  background-color: orangered;
}

mat-grid-tile{
  background-color: orangered;
}

.inhalt{
  padding-top: 2rem;
  margin-left: 30%;
  margin-right: 30%;
  color: #cccccc;
  background-color: orangered;
}

h1{
  color: #cccccc;
  margin-left: 30%;
  margin-top: 1rem;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
