

mat-grid-list{
  background-color: orangered;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 3rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  text-align: center;
  color: #cccccc;
}

mat-grid-tile{
  text-align: center;
  margin-left: 1rem;
  background-color: orangered;
}

.kleinste{
  padding-bottom: 4.8rem;
}
