

  <mat-grid-list cols="3" rowHeight="3:4">
    <mat-grid-tile>
      <mat-grid-list cols="12">
        <mat-list>
          <h1>
            Der Kleinste
          </h1>
        </mat-list>
        <mat-list>
          <h2>
            6 Monate Service
          </h2>
        </mat-list>
        <mat-list class="kleinste">
          <p>
            Bei dem Kleinsten, ist die Vertragsdauer relativ kurz. Aus diesem Grund kann nur einmal im Monat ein Service in Anspruch genommen werden.
          </p>
          <p>
            Ob Gerätewechsel oder wenn Sie fragen zu den ermittelten Werten haben, wir sind für Sie da.
          </p>
        </mat-list>
        <button class="mäh" (click)="onClick($event)" mat-flat-button color="primary" routerLink="/bestellen">Für 39,95€ im Monat bestellen</button>
      </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-list cols="12">
        <mat-list>
          <h1>
            Der Ausgewogene
          </h1>
          <mat-list>
            <h2>
              12 Monate Service
            </h2>
          </mat-list>
          <mat-list>
            <p>
              Bei diesem Angebot können Sie sich so oft melden wie Sie möchten. Wir kommen gerne vorbei oder beantworten Ihre Fragen am Telefon.
            </p>
            <p>
              In diesem Angebot ist zusätzlich, einmal im Monat, ein Beratungsgespräch enthalten. In diesem Gesprächen sollen die Messwerte
              interpretiert werden und Maßnahmen abgesprochen werden.
            </p>
            <p>
              Denn wir wollen Sie mit den Daten nicht alleine lassen und uns dann der Verantwortung entziehen. Zusammen für effizentere Landwirtschaft.
            </p>
          </mat-list>
          <button class="mäh" mat-flat-button color="primary"  routerLink="/bestellen">Für 69,95€ im Monat bestellen</button>
        </mat-list>
      </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-list cols="12">
        <mat-list>
          <h1>
            Der König
          </h1>
          <mat-list>
            <h2>
              24 Monate Service
            </h2>
          </mat-list>
          <mat-list>
            <p>
              Der Kunde ist König, bei diesem Modell haben Sie es sogar schwarz auf weiß.
            </p>
            <p>
              Dieses Modell zeichnet ein 24/7 - Support aus. Plus natürlich die Vorteile der anderen Pakete.
            </p>
            <p>
              Weiter erhalten wir die Daten, wenn Sie es wünschen auch. Und wir tracken die Ergebnisse für Sie und unterrichten Sie dann
              über die Ergebnisse und beraten Sie auf die weiteren Schritte.
            </p>
          </mat-list>
          <button class="mäh" mat-flat-button color="primary" routerLink="/bestellen">Für 119,95€ im Monat bestellen</button>
        </mat-list>
      </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>

