

<mat-grid-list cols="2" >
  <a routerLink="/shop">
    <mat-grid-tile ><img src="../../assets/shop.svg"></mat-grid-tile>
  </a>
  <a routerLink="/about-us">
    <mat-grid-tile><img src="../../assets/aboutus.svg"></mat-grid-tile>
  </a>
  <a routerLink="/kontakt">
    <mat-grid-tile><img src="../../assets/contact.svg"></mat-grid-tile>
  </a>
  <a routerLink="/impressum">
    <mat-grid-tile ><img src="../../assets/impressum.svg"></mat-grid-tile>
  </a>
  <a routerLink="/lage">
    <mat-grid-tile ><img src="../../assets/location.svg"></mat-grid-tile>
  </a>
 <a routerLink="/leistung"><mat-grid-tile><img src="../../assets/docu.svg"></mat-grid-tile></a>

</mat-grid-list>

